{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <style>
        body {background-color: powderblue;}
        h1   {color: blue; text-align: center;}
        .container{text-align: left;}
        .row{justify-content: center;}
        p{margin: 4px;}
    </style>

    <h1>Reset Password</h1>
    <br>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

{% endblock %}


