{% extends "base.html" %}

{% block content %}
    <br>
    <br>
    <h1>Tài khoản</h1>
    <div class="row"> 
    <table class="table table-hover">
        <tr valign="top">
            <td width="256px"><img src="{{ user.avatar(256) }}"></td>
            <td>
                <h1>{{ user.username }}</h1>
                <!-- {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
                {% if user.last_seen %} -->
                <p>Last seen on: {{ user.last_seen }}</p>
                <!-- {{ moment(user.last_seen).format('LLL')}} -->
                {% endif %}
            </td>
        </tr>
    </table>
    </div>
    <br>
    <br>
    <br>
{% endblock  %}




