{% extends "base.html" %}

{% block header %}
{{ super() }}
{% endblock header %}

{% block app_content %}
<nav aria-label="...">
    <!-- Start Banner Hero -->
    <section class="background-color w-100">
        <div class="container">
            <div class="row d-flex align-items-center py-5">
                <div class="col-lg-6 text-start">
                    <h1 class="h2 py-5 text-primary typo-space-line">Giới thiệu</h1>
                    <p class="light-300">
                        Chào mừng bạn đến với TN Store !!!
                    </p>
                        <li >
                            Được thành lập vào: ---
                        </li>
                        <li>
                             Địa chỉ cửa hàng: ---
                        </li>
                        <li>
                            Cửa hàng TN là cửa hàng bán bàn phím chất lượng. Luôn lấy UY TÍN là tiêu chí hàng đầu.
                       </li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <img src="./../static/assets/img/banner/us.jpg">
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Hero -->


    <!-- Start Team Member -->
    <section class="container py-5">
        <div class="pt-5 pb-3 d-lg-flex align-items-center gx-5">

            <div class="col-lg-6">
                <h2 class="h2 py-5 typo-space-line">Nhóm chúng tôi</h2>
                <p class="text-muted light-300">
                    Nhóm gồm 2 thành viên !!!
                </p>
            </div>

            <div class="col-lg-9 row">
                <div class="team-member col-md-4">
                    <img class="team-member-img img-fluid rounded-circle p-4" src="./../static/assets/img/team/team-01.jpg" alt="Card image">
                    <ul class="team-member-caption list-unstyled text-center pt-4 text-muted light-300">
                        <li style="color: brown;">
                            Toàn Trần
                        </li>
                        <li>
                            Trưởng nhóm
                        </li>
                        <li>
                            Là một người điềm đạm, uy tín, chất lượng...
                        </li>
                    </ul>
                </div>
                <div class="team-member col-md-4">
                    <img class="team-member-img img-fluid rounded-circle p-4" src="./../static/assets/img/team/team-02.jpg" alt="Card image">
                    <ul class="team-member-caption list-unstyled text-center pt-4 text-muted light-300">
                        <li style="color: brown;">
                            Ngân Lê
                        </li>
                        <li>
                            Thành viên
                        </li>
                        <li>
                            Là một người thân thiện, hoà đồng, hoạt bát, đáng yêu~
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </section>
    <!-- End Team Member -->


    <!-- Start Progress -->
    <section class="bg-white py-5">
        <div class="container my-4">

            <h1 class="creative-heading h2 pb-3 typo-space-line">Mức độ hoàn thành</h1>

            <div class="creative-content row py-3">
                <div class="col-md-5">
                    <p class="text-muted col-lg-8 light-300">Nhận xét mức độ hoàn thành website của nhóm...
                    </p>
                </div>
                <div class="creative-progress col-md-7">

                    <div class="row mt-4 mt-sm-2">
                        <div class="col-6">
                            <h4 class="h5">Lập trình</h4>
                        </div>
                        <div class="col-6 text-right">65%</div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>

                    <div class="row mt-4 mt-sm-2">
                        <div class="col-6">
                            <h4 class="h5">Thiết kế</h4>
                        </div>
                        <div class="col-6 text-right">90%</div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>


                    <div class="row mt-4 mt-sm-2">
                        <div class="col-6">
                            <h4 class="h5">Kinh doanh</h4>
                        </div>
                        <div class="col-6 text-right">70%</div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- End Progress -->
</nav>

{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock footer %}