{% extends "base.html" %}
{% block header %}
{{ super() }}
{% endblock header %}
{% block app_content %}

<nav aria-label="...">
    <!-- Start Banner Hero -->
    <section class="background-color">
        <div class="container py-4">
            <div class="row align-items-center justify-content-between">
                <div class="contact-header col-lg-6">
                    <h1 class="h2 pb-3 text-primary typo-space-line">Hỗ trợ chăm sóc khách hàng</h1>
                    <h3 class="h4 regular-400">Bạn cần hỗ trợ ?</h3>
                    <ul class="light-300">
                        <li> Hãy liên hệ với chúng tôi<a rel="nofollow" href="/home">TN Store</a>.</li>
                        <li> Nhận hỗ trợ 24/7. </li>
                        <li> Cách thức liên lạc phí dưới </li>
                    </ul>
                    
                </div>
                <div class="contact-img col-lg-5 align-items-end col-md-4">
                    <img src="./../static/assets/img/banner/709157_orig.jpg">
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Hero -->


    <!-- Start Contact -->
    <section class="container py-5">

        <h1 class="col-12 col-xl-8 h2 text-left text-primary pt-3 ">Cách thức liên hệ với chúng tôi!!!</h1>
        <h2 class="col-12 col-xl-8 h4 text-left regular-400">Dịch vụ chăm sóc khách hàng</h2>
        <p class="col-12 col-xl-8 text-left text-muted pb-5 light-300">
            Mọi thắc mắc, ý kiến của bạn hãy liên hệ với chúng tôi, chúng tôi hỗ trợ nhiệt tình.
            Vui lòng điền vào bảng mẫu bên dưới để gửi tin nhắn đến chúng tôi.
            Chúng tôi rất vui chân thành cảm ơn mọi ý kiến, góp ý từ bạn.
        </p>

        <div class="row pb-4">
            <div class="col-lg-4">

                <div class="contact row mb-4">
                    <div class="contact-icon col-lg-3 col-3">
                        <div class="py-3 mb-2 text-center border rounded text-secondary">
                            <i class='display-6 bx bx-phone'></i>
                        </div>
                    </div>
                    <ul class="contact-info list-unstyled col-lg-9 col-9  light-300">
                        <li class="h5 mb-0">Toàn Trần</li>
                        <li class="text-muted">012-345-6789</li>
                    </ul>
                </div>

                <div class="contact row mb-4">
                    <div class="contact-icon col-lg-3 col-3">
                        <div class="border py-3 mb-2 text-center border rounded text-secondary">
                            <i class='bx bx-mail-send display-6' ></i>
                        </div>
                    </div>
                    <ul class="contact-info list-unstyled col-lg-9 col-9 light-300">
                        <li class="h5 mb-0">Ngân Lê</li>
                        <li class="text-muted">012-777-3333</li>
                    </ul>
                </div>
            </div>


            <!-- Start Contact Form -->
            <div class="col-lg-8 ">
                <form class="contact-form row" method="post" action="#" role="form">

                    <div class="col-lg-6 mb-4">
                        <div class="form-floating">
                            <input type="text" class="form-control form-control-lg light-300" id="floatingname" name="inputname" placeholder="Name">
                            <label for="floatingname light-300">Tên</label>
                        </div>
                    </div><!-- End Input Name -->

                    <div class="col-lg-6 mb-4">
                        <div class="form-floating">
                            <input type="text" class="form-control form-control-lg light-300" id="floatingemail" name="inputemail" placeholder="Email">
                            <label for="floatingemail light-300">Email</label>
                        </div>
                    </div><!-- End Input Email -->

                    <div class="col-lg-6 mb-4">
                        <div class="form-floating">
                            <input type="text" class="form-control form-control-lg light-300" id="floatingphone" name="inputphone" placeholder="Phone">
                            <label for="floatingphone light-300">Số điện thoại</label>
                        </div>
                    </div><!-- End Input Phone -->

                    <div class="col-12">
                        <div class="form-floating mb-3">
                            <textarea class="form-control light-300" rows="8" placeholder="Message" id="floatingtextarea"></textarea>
                            <label for="floatingtextarea light-300">Bạn nhập ý kiến thắc mắc vào đây...</label>
                        </div>
                    </div><!-- End Textarea Message -->

                    <div class="col-md-12 col-12 m-auto text-end">
                        <button type="submit" class="btn btn-secondary rounded-pill px-md-5 px-4 py-2 radius-0 text-light light-300">Gửi</button>
                    </div>

                </form>
            </div>
            <!-- End Contact Form -->
s
        </div>
    </section>
    <!-- End Contact -->
</nav>
{% endblock %}
{% block footer %}
    {{ super() }}
{% endblock footer %}
