{% extends 'base.html' %}
wtf.quick_form(form)
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <style>
        body {background-color: powderblue;}
        h1{color: blue; text-align: center;}
        .container{text-align: left;}
        .row{justify-content: center;}
        /* .control-label{text-align: left;} */
        p{text-align: center;}
    </style>
    <h1 style="color:blue;">Đăng nhập</h1>
    <br>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
        
    </div>
    <p>New User? <a href="{{ url_for('register') }}">Click to Register!</a></p>
    <p>
        Forgot Your Password?
        <a href="{{ url_for('reset_password_request') }}">Click to Reset</a>
    </p>
{% endblock %}

